<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"> <!-- Encodage des caractères -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive -->
    <title>Ma première page</title> <!-- Titre de l’onglet -->
</head>
<body>
<nav>
    <ul>
         <li><a href="index.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
         <li><a href="contact.html">Contact</a></li>
         
    </nav>
        <h1> projects page </h1>
    
</body>
</html>