<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"> <!-- Encodage des caractères -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive -->
    <title>Ma première page</title> <!-- Titre de l’onglet -->
</head>
<body>

   <h1> {% block content %}
    
   {% endblock content %}
   </h1>    

   <h1> {% block titreCourse %}
    
   {% endblock titreCourse  %}
   </h1>    
   
{% block nav %}
{% endblock nav %}
   

   <footer>
        <nav>
            <ul>
                <li>home</li>
                <li>lorem iptsum secretaire</li>
                <p>Voici les footer que vous voulez</p>
            </footer>
    
</body>
</html>
